header {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    animation-name: color-change;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    box-shadow: 1px 1px 4px #fde5cf;
}

body {
    background-color: white;
    animation-name: color-change;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

footer {
    color: #ff9633;
    font-size: x-small;
    display: flex;
    justify-content: center;
    font-family: Raleway;
    animation-name: orange-color-change;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes color-change {
    from {background-color: white;}
    to {background-color: #fff2e6;}
}

@keyframes orange-color-change {
    from {color: white;}
    to {color: #ff9633;}
}

.title {
    margin-left: 70px;
    margin-top: 50px;
    font-family: Playfair Display;
    animation-name: orange-color-change;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

.menu {
    font-family: Raleway;
    display: flex;
    flex-direction: row;
    margin-right: 50px;
    margin-top: 65px;
}

.menu-item {
    margin: 0 20px;
    text-decoration: none;
    animation-name: orange-color-change;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

img {
    max-width: 300px;
    min-width: 100px;
    border-radius: 1%;
    padding-right: 100px;
}

.fade-in-image {
    animation: fadeIn 5s;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.text {
    font-family: Raleway;
    font-size: 20px;
    padding-left: 20px;
    animation: fadeIn 5s;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px 400px;
}

#contact-title {
    font-family: Playfair Display;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: orange-color-change;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}
