header {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    animation-name: color-change;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

body {
    background-color: white;
    animation-name: color-change;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes color-change {
    from {background-color: white;}
    to{background-color: #fff2e6;}
}

.title {
    margin-left: 70px;
    margin-top: 50px;
    font-family: Playfair Display;
}

.menu {
    font-family: Raleway;
    display: flex;
    flex-direction: row;
    margin-right: 50px;
    margin-top: 65px;
}

.menu-item {
    margin: 0 5px;
    text-decoration:none
}