.title {
    font-family:'Petrona';
    color:#7192be;
}

#break {
    width:100%;
    color:#f0e8e1;
    margin:0px;
}

.nav {
    font-family:'Montserrat', sans-serrif;
}

header {
    margin-left: 70px;
    margin-top: 50px;
    background-color:#fff2e6;
    justify-content:space-between;
}

body {
    background-color:#fff2e6;
    
}